
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}

/*  END RESET */

/*Dette er en container til mit indhold*/
.indholdcontainer {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }



/*Dette er alle h2-overskrifter. Jeg har valgt et typeface fra Adobe Font*/
#h2 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    text-align: center; /*Teksten står i midten*/
    text-transform: uppercase; /* Laver store bogstaver*/
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

/*Dette er en container til min indholdsoversigt*/
.indholdoversigt {
    text-align: center;
    line-height: 40px;
    padding-bottom: 30px;
}

/*Overskrift til min indholdsoversigt*/
#indholdpaasiden {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
}

/*Min indholdsoversigt er en ul. Jeg fjerner her det default udseende linksene har...*/
.indholdoversigt ul li a {
    text-decoration: none;
    color: grey;
}

/*..og tilføjer mit eget udseende og hovereffekt*/
.indholdoversigt ul li a:hover {
    color: black;
}


/*Alle min h3-overskrifter: Normalt behøver man ikke at lave det til en class eller et id. Men ved min hjemmeside fungere det ikke,  hvis man blot vælger alle h3'er. Mit bedste bud er fordi jeg har brug bootstrap, og derfor vil den ikke lade mig bestemme. */
.h3 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px 10px;
    padding-top: 30px;
}

h4 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 30px;
    border-top: 40px;
    background-color: white; /*Det var nødvendigt at sætte en background-color på..*/
}

/*... og derfor blev jeg nødt til at lave en anden til alle mine h4 der er i mine bokse*/
.h4boks {
    background-color: #e3dcd4;
}

h5 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}



/*Dette er til alt min brødtekst. Jeg har her også valgt et typeface fra Adobe Font. */
.tekst {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 30px; /*Whitespace i teksten*/
}

/*Dette er til alle citater, da teksten bliver kursiv*/
#citat {
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: italic;
    padding-bottom: 20px;
}

/*Bokse på siden*/
.boks {
    background-color: #e3dcd4;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: -50px; /*Mine bokse skal gå helt ud til kanterne, så jeg skal derfor fjerne det paddig jeg har tilføjet*/
    margin-right: -50px;
}


/*For at forhindre problemer, har jeg lavet en class til det brødtekst der er i boksen*/
.tekst-i-boks {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Denne bruges til når noget tekst skal være fed*/
.teksttyk {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 500;  /*Jo højere font-weight - jo federe tekst*/
    font-style: normal;
    line-height: 30px;
}

/*Billed på grund. kommunikation, jeg bruger flex til at får nem ved siden af hinadnen*/
#smiley {
    display: flex;
}

/*Billed på grund. kommunikation*/
#konsmiley {
    flex: 50%;
    width: 50%;
    height: 50%
}

/*Billed på grund. kommunikation*/
#inkonsmiley {
    flex: 50%;
    width: 50%;
    height: 50%;
}

/*Rettelser til IMK-modellen*/
#imk {
    width: 90%;
    padding: 20px;
    
}

/*Rettelser til et billede af fiske-modelle fra præsentationsteknik*/
#fisk {
    width: 100%;
    
}


/*alle mine links har denne class, så de bliver ens, jeg havde problemer med at style alle ankertags, så jeg lavede istedet en class*/
.henvisning {
   color: #a39687;
    font-family: hero-new, sans-serif; 
    font-weight: 200;
    font-style: normal;
}

/*Styling på hover af alle links*/
body .indholdcontainer a:hover {
    text-decoration: none; /*Fjerner default hover-style*/
    color: #e3dcd4;  
}


/*Rettelser på et billede af gradients fraIllustrator*/
#gradient {
    width: 90%;
}


/*Placering af ikoner under Illustrator*/
.ikoner {
    padding-bottom: 30px;
    padding-top: 20px;
}

#ikon {
    width: 95%;
}

/*tilføjelse af padding til alle mine gif */
.giphy-embed {
    padding-bottom: 50px;
}


/*Rettelse af billede fra Premiere Rush*/
#story {
    width: 90%;
}


/*Min kildeliste er en ul*/
.kildeliste {
    list-style: none; /*fjerner dots*/
    line-height: 30px;
    padding-bottom: 30px;
}

/*Styling af links der er placeret i min boks*/
.link-i-boks {
    color: #b7ab9e;
}

body .indholdcontainer .boks p a:hover {
    color: #403b35; 
}

/*Styling af nogle tal, der skulle være markeret anderledes end brødteksten*/
#tal {
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: normal;
}

/*billede fra CSS*/
#box-model {
    width: 90%
}

/*billede fra CSS*/
#external {
    width: 90%;
}

/*billede fra CSS*/
#gridstep {
    width: 80%;
}

/*billede fra informationsdesing*/
#lapper {
    width: 100%;
}


#minuspadding {
    padding-top: 20px;
    padding-bottom: -10px;
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: normal;
}

/*Border til afsnint om farver START*/

#gul {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #f9e866;
    border-style: solid;
    border-radius: 25px;
}

#orange {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #f25c05;
    border-style: solid;
    border-radius: 25px;
}

#rod {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: crimson; 
    border-style: solid;
    border-radius: 25px;
}

#gron {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #597d35; 
    border-style: solid;
    border-radius: 25px;
}

#blaa {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #63c5da; 
    border-style: solid;
    border-radius: 25px;
}

#lilla {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #710193; 
    border-style: solid;
    border-radius: 25px;
}

#pink {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #fe7f9c; 
    border-style: solid;
    border-radius: 25px;
}

#sort {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: black; 
    border-style: solid;
    border-radius: 25px;
}

#hvid {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: whitesmoke; 
    border-style: solid;
    border-radius: 25px;
}

/*Border til afsnint om farver SLUT*/

/*Alle billeder om farvesammensætning fra farver*/
#farvesammensatning {
    width: 90%;
    margin: 20px;
}

/*Billeder fra naturen fra farver*/
#billedfarver {
    width: 100%;
}


/*Forskellige fonts fra Adobe Font til afsnit om Typografi - KAN KUN BRUGES I TYPOGRAFI.PHP... START*/
.serif {
    font-family: operetta-12, serif;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 30px;
}

.sans-serif {
    font-family: fieldwork, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
}

.monospace {
    font-family: anonymous-pro, monospace;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
}

.script {
    font-family: marydale, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
}


/*Forskellige fonts fra Adobe Font til afsnit om Typografi - KAN KUN BRUGES I TYPOGRAFI.PHP... SLUT*/


/*Alle designprincip billeder*/
#pricipper-billeder {
    width: 100%;
    padding-bottom: 40px;
}

/*Farvet brødtrkst start*/
#blaatekst {
    color: skyblue;
}

#grontekst {
    color: green;
}

#gultekst {
    color: yellow;
}

#rodtekst {
    color: crimson;
}
/*Farvet brødtrkst start*/


#div-billede {
    width: 90%
}

#designtekst {
    color: grey;
    
}

/*Alle videoer der er embedded fra Yt*/
#yt{
    width: 90%;
}

/*Billede fra photoshop og illustrator workshop*/
#efeu {
    width: 80%;
}


/*MEDIA 900PX START*/

@media (min-width:700px) {
    
    .indholdcontainer {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .boks {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: -100px;
        margin-right: -100px;
    }
    
    .tekst-i-boks {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    #fisk {
        width: 60%;
    
    }
    
    #box-model {
        width: 60%;
    }
    
    #external {
        width: 50%;
    }
    
    #gridstep {
        width: 40%;
    }
    
    #lapper {
        width: 50%;
    }   
    
        #ikon {
        width: 40%;
    }
    
    #farvesammensatning {
        width: 50%;
    }
    
    #billedfarver {
    width: 30%;
    }  
    
    #pricipper-billeder {
        width: 60%;
    }
      
    #div-billede {
    width: 50%
    }


    
   
 }



/* MEDIA 700PX SLUT */



/*MEDIA 1400PX START*/

@media (min-width:1200px) {
    
    .indholdcontainer {
        padding-left: 200px;
        padding-right: 200px;
    }
    
    .boks {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-left: -200px;
        margin-right: -200px;
    }
    
    .tekst-i-boks {
        padding-left: 250px;
        padding-right: 250px;
    }
    
    #imk {
    width: 60%;
}
    
    #fisk {
    width: 50%;
}
    
    #html {
        width: 40%;
    }
    
    /*  grid til slowmotion og fast giffs start  */
    .speed {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ". slow fast ."
    }

    #slow {
        grid-area: slow;
    }
    
    #fast {
        grid-area: fast;
    }
    
    /*  grid til slowmotion og fast giffs slut  */
    
    #box-model {
        width: 50%;
    }
    
     #external {
        width: 40%;
    }
    
    #gridstep {
        width: 40%;
    }
    
    #lapper {
        width: 50%;
    }   
    
    #ikon {
        width: 20%;
    }
    
    #farvesammensatning {
        width: 40%;
    }
    
    #billedfarver {
    width: 30%;
    }   
    
    #pricipper-billeder {
        width: 60%;
    }
    
    #div-billede {
    width: 50%;
    }
      
   
    
}
/*MEDIA 1400PX SLUT*/