
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


/*  END RESET */




#h2 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
}


#indholdpaasiden {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    
}

.indholdoversigt {
    text-align: center;
    line-height: 40px;
    padding-bottom: 30px;
}

.indholdoversigt ul li a {
    text-decoration: none;
    color: grey;
}

.indholdoversigt ul li a:hover {
    color: black;
}

.indholdcontainer {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
    }

.h3 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 10px 10px;
    padding-top: 30px;
}

h4 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 30px;
    border-top: 40px;
    background-color: white;
}

.h4boks {
    background-color: #e3dcd4;
}

h5 {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
}



.tekst {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 30px;
    
}

#citat {
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: italic;
    padding-bottom: 20px;
}


.boks {
    background-color: #e3dcd4;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-left: -50px;
    margin-right: -50px;
}



.tekst-i-boks {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.teksttyk {
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: hero-new, sans-serif;
    font-weight: 500;   
    font-style: normal;
    line-height: 30px;
}

#smiley {
    display: flex;
}

#konsmiley {
    flex: 50%;
    width: 50%;
    height: 50%
}

#inkonsmiley {
    flex: 50%;
    width: 50%;
    height: 50%;
}

#imk {
    width: 90%;
    padding: 20px;
    
}

.kilder {
    text-decoration: none;
    line-height: 10px;
}

#fisk {
    width: 100%;
    
}

.henvisning {
   color: #a39687;
    font-family: hero-new, sans-serif; 
    font-weight: 200;
    font-style: normal;
}

body .indholdcontainer a:hover {
    text-decoration: none;
    color: #e3dcd4;  
}


#gradient {
    width: 90%;
}


.ikoner {
    padding-bottom: 30px;
    padding-top: 20px;
}

#ikon {
    width: 95%;
}

.giphy-embed {
    padding-bottom: 50px;
}

#story {
    width: 90%;
}

.kildeliste {
    list-style: none;
    line-height: 30px;
    padding-bottom: 30px;
}

.link-i-boks {
    color: #b7ab9e;
}

body .indholdcontainer .boks p a:hover {
    color: #403b35; 
}


#tal {
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: normal;
}

#box-model {
    width: 90%
}

#external {
    width: 90%;
}

#gridstep {
    width: 80%;
}

#lapper {
    width: 100%;
}

#minuspadding {
    padding-top: 20px;
    padding-bottom: -10px;
    font-family: hero-new, sans-serif;
    font-weight: 200;
    font-style: normal;
}

#gul {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #f9e866;
    border-style: solid;
    border-radius: 25px;
}

#orange {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #f25c05;
    border-style: solid;
    border-radius: 25px;
}

#rod {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: crimson; 
    border-style: solid;
    border-radius: 25px;
}

#gron {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #597d35; 
    border-style: solid;
    border-radius: 25px;
}

#blaa {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #63c5da; 
    border-style: solid;
    border-radius: 25px;
}

#lilla {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #710193; 
    border-style: solid;
    border-radius: 25px;
}

#pink {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: #fe7f9c; 
    border-style: solid;
    border-radius: 25px;
}

#sort {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: black; 
    border-style: solid;
    border-radius: 25px;
}

#hvid {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 20px;
    border: 3px;
    border-color: whitesmoke; 
    border-style: solid;
    border-radius: 25px;
}

#farvesammensatning {
    width: 90%;
    margin: 20px;
}

#billedfarver {
    width: 100%;
}

.serif {
    font-family: operetta-12, serif;
    font-weight: 200;
    font-style: normal;
    padding-bottom: 30px;
}

.sans-serif {
    font-family: fieldwork, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
}

.monospace {
    font-family: anonymous-pro, monospace;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
}

.script {
    font-family: marydale, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 30px;
}

#pricipper-billeder {
    width: 100%;
    padding-bottom: 40px;
}



/*MEDIA 900PX START*/

@media (min-width:700px) {
    
    .indholdcontainer {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    .boks {
        padding-top: 50px;
        padding-bottom: 50px;
        margin-left: -100px;
        margin-right: -100px;
    }
    
    .tekst-i-boks {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    #fisk {
        width: 60%;
    
    }
    
    #box-model {
        width: 60%;
    }
    
    #external {
        width: 50%;
    }
    
    #gridstep {
        width: 40%;
    }
    
    #lapper {
        width: 50%;
    }   
    
        #ikon {
        width: 40%;
    }
    
    #farvesammensatning {
        width: 50%;
    }
    
    #billedfarver {
    width: 30%;
    }  
    
    #pricipper-billeder {
        width: 60%;
    }
      


    
   
 }



/* MEDIA 900PX SLUT */



/*MEDIA 1400PX START*/

@media (min-width:1200px) {
    
    .indholdcontainer {
        padding-left: 200px;
        padding-right: 200px;
    }
    
    .boks {
        padding-top: 60px;
        padding-bottom: 60px;
        margin-left: -200px;
        margin-right: -200px;
    }
    
    .tekst-i-boks {
        padding-left: 250px;
        padding-right: 250px;
    }
    
    #imk {
    width: 60%;
}
    
    #fisk {
    width: 50%;
}
    
    #html {
        width: 40%;
    }
    
    .speed {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            ". slow fast ."
    }

    #slow {
        grid-area: slow;
    }
    
    #fast {
        grid-area: fast;
    }

    #box-model {
        width: 50%;
    }
    
     #external {
        width: 40%;
    }
    
    #gridstep {
        width: 40%;
    }
    
    #lapper {
        width: 50%;
    }   
    
    #ikon {
        width: 20%;
    }
    
    #farvesammensatning {
        width: 40%;
    }
    
    #billedfarver {
    width: 30%;
    }   
    
    #pricipper-billeder {
        width: 60%;
    }
      
   
    
}
/*MEDIA 1400PX SLUT*/