
/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;   
}

nav ul {
    list-style: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content:''; content:none;

}


/*  END RESET */

.header {
    background-color: white;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.2); 
    max-width: 100%;
}


.navbar button {
    border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar navbar-expand-lg navbar-light bg-light {
    background-color: white
}

.navbar-brand {
    color: black; 
    font-family: timberline, sans-serif;
    font-weight:200;
    font-style: normal;
    font-size: 2em; 
    margin-top: 22px;
    margin-left: 15px;

}

.navbar-brand span {
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 0.4em;
    display: flex;
    margin-top: 12px;
    margin-bottom: 13px;
}

.dropdown:hover .dropdown-menu {
    display: inherit;
}

.dropdown-menu {
    border: none;
    background-color: white;
}
 


ul {
    text-transform: uppercase;
    font-family: novecento-sans-wide, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: black;
}

.nav-item {
    padding-right: 27px
}

#link {
    padding-right: 100px;
}


.header ul li a:hover {
    color: black; 
    font-weight: 1000;
}














